<template>
  <div class="module">
    <h2>Game Board</h2>
    <button v-for="position in board"
      :key="position.slot"
      :class="['button', position.color]"
      v-on:click="() => selectPosition(position.slot)"
    >
      {{ position.slot }}
    </button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Board',
  data() {
    return {
      selected: null,
    };
  },
  methods: {
    selectPosition(position) {
      console.log(`${position} is selected`);
    },
  },
  computed: {
    ...mapGetters([
      'board',
    ]),
  },
};
</script>

<style scoped lang="scss">
.button {
  color: white;
  border: 1px solid black;
  padding: .5em;
  border-radius: 2px;
  cursor: pointer;
}
</style>
