<template>
  <div class="module">
    <h2>Events</h2>
    <ul>
      <li v-for="game in gamesLog" :key="game.id">
        Game {{ game.id }} ended, result is {{ game.result }}
      </li>
      <li>Game {{ nextGame.id }} will start in {{ timeLeft }} sec</li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import dispatcher from '../utility/dispatcher';

export default {
  name: 'Events',
  data() {
    return {
      nextGame: {},
      timeLeft: null,
      timer: null,
    };
  },
  methods: {
    ...mapActions([
      'fetchStats',
      'logGame',
      'logApp',
    ]),
    async getNextGame() {
      const game = await dispatcher('/nextGame');
      this.logApp('Loading next game');
      this.logApp('GET .../nextGame');
      this.nextGame = game;
      this.timeLeft = game.startDelta;
      this.logApp(`Sleeping for startDelta ${game.startDelta} sec`);
      this.startCountDown();
    },
    setTimeLeft() {
      this.timeLeft -= 1;
    },
    startCountDown() {
      this.timer = setInterval(this.setTimeLeft, 1000);
    },
  },
  watch: {
    timeLeft() {
      if (this.timeLeft === 0) {
        clearInterval(this.timer);
        this.logGame(this.nextGame.id);
        this.getNextGame();
        this.fetchStats();
      }
    },
  },
  computed: {
    ...mapGetters([
      'gamesLog',
    ]),
  },
  created() {
    this.getNextGame();
  },
};
</script>

<style scoped lang="scss">
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 1em;
  border: 1px solid #eaeaea;
}

li:not(:last-child) {
  border-bottom: none;
}
</style>
