<template>
  <div class="module">
    <h2>Log</h2>
    <ul>
      <li v-for="(log, index) in appLog" :key="index">
        {{ log }}
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Log',
  computed: {
    ...mapGetters([
      'appLog',
    ]),
  },
};
</script>

<style scoped lang="scss">
ul {
  list-style: none;
  background-color: lightgrey;
  border-radius: 1em;
  padding: 1em;
  font-size: 0.8em;
}

li:not(:last-child) {
  margin-bottom: .8em;
}
</style>
