<template>
  <div class="module stats">
    <h2>Stats for Last {{ limit }} games</h2>
    <table>
      <tbody>
        <tr>
          <th>&nbsp;</th>
          <td colspan="5">Cold</td>
          <td colspan="27">Neutral</td>
          <td colspan="5">Hot</td>
        </tr>
        <tr>
          <th>Slot</th>
          <td v-for="(game, index) in positionsWithColors"
              :key="index"
              :class="['slot', game.color]"
          >
            {{ game.result }}
          </td>
        </tr>
        <tr>
          <th>Hits</th>
          <td v-for="(game, index) in games" :key="index">
            {{ game.count }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'Stats',
  data() {
    return {
      limit: 200,
    };
  },
  methods: {
    ...mapActions([
      'fetchStats',
    ]),
  },
  computed: {
    ...mapGetters([
      'games',
      'board',
    ]),
    positionsWithColors() {
      return this.games.map((game) => {
        const slotData = this.board.find((slot) => slot.slot === game.result);
        return { ...game, color: slotData.color };
      });
    },
  },
  created() {
    this.fetchStats(this.limit);
  },
};
</script>

<style scoped lang="scss">
table {
  border-collapse: collapse;
  width: 100%;
}

tr:last-child td:nth-child(-n + 6),
tr:first-child td:first-of-type {
  background-color: aquamarine;
}

tr:last-child td:nth-child(n + 34),
tr:first-child td:last-of-type {
  background-color: darksalmon;
}
td {
  border: 1px solid black;
  padding: .5em;
}
.slot {
  color: white;
  cursor: pointer;
}
</style>
