<template>
  <div id="app">
    <Stats />
    <div class="container">
      <section>
        <Board />
        <Events />
      </section>
      <section>
        <Log />
      </section>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import Stats from './components/Stats.vue';
import Board from './components/Board.vue';
import Events from './components/Events.vue';
import Log from './components/Log.vue';

export default {
  name: 'App',
  components: {
    Stats,
    Board,
    Events,
    Log,
  },
  methods: {
    ...mapActions([
      'fetchConfiguration',
    ]),
  },
  created() {
    this.fetchConfiguration();
  },
};
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 60px auto 0;
  max-width: 1200px;
}

h2 {
  border-bottom: 1px solid #2c3e50;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

section {
  flex: 1 1 300px;
}

section:first-child {
  margin-right: 2em;
}

.module {
  margin-bottom: 2em;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

</style>
